In [19]:
import pandas as pd

path = '/mnt/e/SDT/input/protein_embedding.csv'大扫除

In [20]:
contract_df=pd.read_csv(path,nrows=2)

contract_df=contract_df.rename(columns={'Unnamed: 0': 'filename'})

In [21]:
contract_df

,protein_name,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_5110,feature_5111,feature_5112,feature_5113,feature_5114,feature_5115,feature_5116,feature_5117,feature_5118,feature_5119
0,aa2ar,-0.374989,0.78784,-0.581810,0.916078,-1.457237,0.107462,0.342845,0.134249,-0.751371,...,-0.026118,-0.211198,-0.287110,-0.578028,-0.606241,0.131340,0.032938,0.051761,0.378271,-0.046079
1,abl1,0.353592,0.86968,-0.270712,-0.836372,-1.241593,-0.526479,0.703427,-0.054530,-0.081300,...,-0.300174,-0.305824,-0.141287,0.385516,-0.043917,-1.072353,0.207836,-0.299151,-0.408410,-0.733621

In [4]:
contract_df['outputn'] = contract_df['filename'].apply(lambda x: x.split('_')[0])
contract_df

,filename,H_H_1,H_C_1,H_O_1,H_N_1,H_P_1,H_S_1,H_HAX_1,H_DU_1,C_H_1,...,HAX_DU_60,DU_H_60,DU_C_60,DU_O_60,DU_N_60,DU_P_60,DU_S_60,DU_HAX_60,DU_DU_60,outputn
0,aa2ar_actives_final_ligand_001_out,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,aa2ar
1,aa2ar_actives_final_ligand_002_out,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,aa2ar

In [5]:
import torch
path = '/mnt/e/SDT/input/protein_emmbeding/aa2ar_.pt'

emmbeding = torch.load(path)

In [6]:
emmbeding

{'label': 'aa2ar_',
 'mean_representations': {33: tensor([-0.3750,  0.7878, -0.5818,  ...,  0.0518,  0.3783, -0.0461])}}

In [11]:
emmbeding['mean_representations'][33]

tensor([-0.3750,  0.7878, -0.5818,  ...,  0.0518,  0.3783, -0.0461])

In [12]:
emmbeding['mean_representations'][33][1]

tensor(0.7878)